.full-width-carousel {
    width: 95.8vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.full-width-slide {
    width: 100%;
    height: 85%;
    position: relative;
}



.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.slide-text h1 {
    font-size: 3em;
    margin: 0;
}

.slide-text span {
    display: block;
}


.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomInOut 10s infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


 


h1 {
    color: hsl(266, 91%, 5%);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #4909dd;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }
  @media (max-width: 1024px) {
    .slide-text h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .slide-text h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .slide-text h1 {
        font-size: 1.5em;
    }
}
@media (max-width: 1024px) {
    .full-width-carousel, .full-width-slide {
        height: 80vh; /* Adjust height for tablets */
    }

    .slide-text h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .full-width-carousel, .full-width-slide {
        height: 70vh; /* Adjust height for small tablets and large phones */
    }

    .slide-text h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .full-width-carousel, .full-width-slide {
        height: 60vh; /* Adjust height for phones */
    }

    .slide-text h1 {
        font-size: 1.5em;
    }
}