@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: Roboto;
  letter-spacing: 0.7px;
}

.h1 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 100% */
}

.h2 {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}

.h3 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.h4 {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hw {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 100% */
}

.an {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.pagi {
  color: var(--Gray-4, #bdbdbd);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}

.pagiD {
  color: var(--Gray-4, #4d4d4d);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}

.b1 {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.b2 {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.txt {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}

.hBig {
  color: var(--Gray-6, #f2f2f2);
  font-family: Roboto;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: 150px;
}

.txtBig {
  color: var(--Gray-1, #333);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
}

.pTxt {
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.footH1 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footTxt {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 1px;
}

.cr {
  color: #c8c8c880;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}

@media (max-width: 1080px) {
  .txtBig {
    font-size: 16px;
  }
  .hw {
    font-size: 30px;
    line-height: 40px; /* 100% */
  }
  .hBig {
    font-size: 100px;
    line-height: 10px;
  }
  .h1 {
    font-size: 40px;
    line-height: 45px; /* 100% */
  }
  .h2 {
    font-size: 40px;
    line-height: 45px; /* 100% */
  }
}
